@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rubik:wght@300;400;500;600;700&display=swap');

/* font-family: 'Montserrat',sans-serif;
font-family: 'Rubik',sans-serif; */

html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
   border: none;
}


ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}

button {
   background: none;
}

html,
body {
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 142%;
   letter-spacing: 0.005em;
   color: #1D1D1B;
   height: 100%;
}

html {
   scroll-behavior: smooth;
}

:root {
   --container-width: 1420px;
   --container-padding: 15px;
}

.btn {
   display: block;
   max-width: 233px;
   padding: 20px 36px;
   transition: all 0.3s ease-in;
   cursor: pointer;
   font-weight: 500;
   color: #FFFFFF;
   background-color: #27AE60;
   border-radius: 8px;
}

.btn:hover {
   opacity: 0.8;
}

.btn:active {
   position: relative;
   top: 1px;
}

.container {
   max-width: 1450px;
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
}

.container-right {
   padding-left: calc((100% - var(--container-width))/ 2 + var(--container-padding));
}

.section__title {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 42px;
   line-height: 1.2;
   color: #1D1D1B;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

/* Header ==============================================================*/
.header {
   background-color: transparent;
   position: absolute;
   z-index: 99;
   left: 0;
   right: 0;
   padding: 30px 0;
}

.header__container {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.header__logo {
   margin-right: 91px;
}

.menu__list {
   display: flex;
   gap: 0 48px;
}

.nav__link {
   font-size: 16px;
   line-height: 1.1875;
   color: #1D1D1B;
   transition: color 0.3s ease-in-out;
}

.nav__link:hover {
   color: #27AE60;
}

.nav__list-item {
   position: relative;
}

.nav__list-item img {
   position: absolute;
   right: -12px;
   top: 12px;
}

.header__tel {
   color: #1D1D1B;
   border: 1px solid #1D1D1B;
   font-size: 12px;
   padding: 15px 30px;
}

/* Main ====================================================================*/
.top {
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-bottom: 250px;
}

.top__title {
   font-weight: 700;
   max-width: 700px;
   font-size: 60px;
   line-height: 71px;
   color: #FFFFFF;
   padding-bottom: 30px;
   padding-top: 20%;
}

.top__subtitle {
   font-size: 20px;
   color: #FFFFFF;
   padding-bottom: 60px;
   max-width: 775px;
}

/* About =================================================================*/
.about {
   padding: 80px 0;
}

.about__title {
   text-align: center;
   padding-bottom: 58px;
}

.advantages__box {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 13px;
}

.advantages__box-item {
   display: flex;
   gap: 0 20px;
   align-items: center;
   padding: 29px 25px;
   border: 1px solid #A8A8A8;
   border-radius: 8px;
}

.advantage__text {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 140%;
   color: #393838;
}

.advantage__text span {
   color: #27AE60;
}

/* Materials ================================================================================ */
.materials {
   padding-bottom: 80px;
}

.materials__title {
   margin-bottom: 60px;
}

.materials__body {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 20px;
}

.materials__body-item {
   display: inline-block;
   height: 524px;
   border-radius: 8px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   align-items: flex-end;
   transition: all 0.3s ease;
}

.materials__body-item:hover {
   margin-top: -20px;
}

.material__title {
   font-weight: 700;
   font-size: 40px;
   line-height: 1.175;
   color: #FFFFFF;
   padding: 40px;
}

/* Company ===================================================================== */
.company {
   padding-bottom: 80px;
}

.company__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.company__content {
   flex-basis: 579px;
}

.company__title {
   margin-bottom: 28px;
}

.company__text {
   color: #67675F
}

.company__info {
   flex-basis: 49%;
   padding: 104px 75px 145px 75px;
   background-color: #F8F8F8;
   border-radius: 24px;
   display: flex;
   justify-content: space-between;
}

.company__info-number {
   font-weight: 300;
   font-size: 88px;
   line-height: 142%;
   color: #1D1D1B;
}

.company__info-item:first-child {
   position: relative;
}

.company__info-number--plus {
   position: absolute;
   font-weight: 500;
   font-size: 40px;
   color: #27AE60;
   right: 0;
   top: 26px;
}

.company__info-item:last-child {
   padding: 0 60px;
}

/* Contacts ==========================================================================*/
.contacts {
   background-color: #F8F8F8;
}

.contacts__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.contacts__info {
   flex-basis: 35%;
}

.contacts__title {
   margin-bottom: 23px;
}

.contacts__text {
   font-size: 28px;
   color: #27AE60;
   margin-bottom: 35px;
}

.contacts__text-black {
   font-weight: 300;
   font-size: 22px;
   color: #1E1E1C;
   margin-bottom: 50px;
}

.contacts__form-block {
   flex-basis: 49%;
   position: relative;
   padding: 56px 0;
}

.contacts__form {
   padding: 45px 45px 30px 45px;
   display: flex;
   flex-direction: column;
   background: #FFFFFF;
   box-shadow: 0px 4px 40px rgba(7, 17, 51, 0.07);
   border-radius: 12px;
}

.contacts__form-block::before,
.contacts__form-block::after {
   display: block;
   content: "";
   background: #27AE60;
   max-width: 312px;
   width: 100%;
   height: 56px;
   position: absolute;
   right: 26%;
}

.contacts__form-block::before {
   top: 0;
}

.contacts__form-block::after {
   bottom: 0;
}

.form__input {
   margin-bottom: 20px;
   display: inline-block;
}

.form__input::placeholder,
.form__textarea::placeholder {
   font-weight: 400;
   padding: 23px 30px;
   font-size: 18px;
   line-height: 100%;
   color: #181A28;
   opacity: 0.5;
}

.form__input,
.form__textarea {
   padding: 23px 30px;
   border: 1px solid #DDDDDD;
   border-radius: 6px;
   width: 100%;
}

.form__textarea {
   width: 100%;
   height: 172px;
   resize: none;
   overflow: auto;
   padding: 28px 20px;
   margin-bottom: 43px;
}

.agreement {
   font-size: 15px;
   line-height: 100%;
   color: #181A28;
}

/* Delivery =======================================================================*/
.delivery__inner {
   display: flex;
   align-items: center;
   padding-left: 15px;
}

.delivery__info {
   flex-basis: 700px;
}

.delivery__title {
   margin-bottom: 30px;
   padding-top: 40px;
}

.delivery__text {
   margin-bottom: 36px;
   font-weight: 400;
   font-size: 20px;
   color: #1E1E1C;
   max-width: 579px;
}

.delivery__list-item {
   display: flex;
   gap: 0 19px;
   align-items: flex-end;
   margin-bottom: 64px;
}

.delivery__list-text {
   font-weight: 300;
   font-size: 16px;
   color: #1E1E1C;
}

.delivery__cards {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.delivery__card {
   background-color: #F8F8F8;
   text-align: center;
   padding: 71px 0;
}

.delivery__card-heading {
   font-weight: 500;
   font-size: 18px;
   line-height: 100%;
   color: #393838;
   margin-bottom: 24px;
}

.delivery__card-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 100%;
   color: #848692;
}

/* Footer ====================================================================*/
.footer {
   background-color: #424141;
}

.footer__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 23px 0;
}

.policy {
   font-size: 12px;
   line-height: 120%;
   color: #FFFFFF;
   opacity: 0.6;
}

.footer-nav__link {
   line-height: 120%;
   color: #FFFFFF;
}

.nav__list {
   display: flex;
   gap: 0 25px;
}

.socials {
   display: flex;
   align-items: center;
   gap: 0 25px;
}

.footer__tel {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 100%;
   color: #FFFFFF;
   padding: 15px 30px;
   border: 1px solid #FFFFFF;
}

/* Materials ===========================================================================================*/
.material__inner {
   padding-top: 158px;
}

.tabs__btn {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-bottom: 100px;
}

.tabs__btn-item {
   border-bottom: 1px solid #CDCDCD;
   font-weight: 300;
   font-size: 24px;
   line-height: 28px;
   padding-bottom: 4px;
   color: rgba(30, 30, 28, 0.6);
}


.tabs__btn-item--active {
   color: #148142;
   border-bottom: 1px solid #27AE60;
   background: linear-gradient(#fff, rgba(51, 231, 127, 0.15));
}

.tabs__content-item {
   padding-bottom: 50px;
}

.tab__content-inner {
   display: flex;
   justify-content: space-between;
   gap: 0 15px;
   margin-bottom: 80px;
}

.tabs__content-img,
.services__img {
   flex: 0 1 41%;
}

.tab-content,
.services__content {
   flex: 0 1 56%;
   line-height: 130%;
   color: #1D1D1B;
}

.section-title {
   font-weight: 600;
   font-size: 32px;
   margin-bottom: 21px;
}

.section-text {
   font-size: 18px;
   margin-bottom: 60px;
}

.section-text span {
   color: #27AE60;
}

.price__item {
   display: flex;
   margin-bottom: 19px;
   font-weight: 300;
   font-size: 16px;
   align-items: end;
}

.price__item-title,
.price__item-value {
   white-space: nowrap;
}

.price__item-line {
   flex: 0 1 100%;
   height: 1px;
   background-color: #CCC;
}

.price__item-value span {
   color: #27AE60;
}

/* Secrices ==============================================================================*/
.services {
   padding-top: 158px;
}

.services__block {
   display: flex;
   margin-bottom: 40px;
   justify-content: space-between;
}

/* Menu_btn ===================================================================================*/
.menu__btn {
   display: none;
   width: 18px;
   height: 16px;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
}

.menu__btn span {
   background-color: #1D1D1B;
   height: 2px;
   width: 100%;
   padding: 0;
   margin: 0;
   z-index: 99;
}

.menu__link {
   display: none;
}

.none {
   display: none;
}

.services__img img {
   border-radius: 8px;
}

/* @media =============================================================*/
@media (max-width: 1100px) {
   .tab__content-inner {
      flex-direction: column;
   }

   .materials__body {
      grid-template-columns: repeat(2, 1fr);
   }

   .delivery__inner {
      flex-direction: column;
   }

   .container-right {
      padding-left: 0;
      max-width: 1450px;
      margin: 0 auto;
      padding: 0 15px;
   }

   .map {
      width: 700px;
      height: 700px;
   }

   .tabs__content-img {
      margin-bottom: 30px;
   }

   .tab-content {
      width: 100%;
      max-width: 600px;
   }
}

@media (max-width: 1050px) {
   .advantages__box {
      grid-template-columns: repeat(2, 1fr);
   }

   .materials__body {
      grid-template-columns: repeat(2, 1fr);
   }

   .services__block {
      flex-direction: column;
   }

   .services__img {
      margin-bottom: 23px;
      border-radius: 8px;
   }

   .services__content {
      flex: 0 1 100%;
   }

   .services__text {
      font-size: 14px;
   }

   .materials__body-item {
      height: 400px;
   }

   .materials__body-item--active {
      margin-top: 0;
   }
}

@media (max-width: 995px) {
   .menu__btn {
      display: flex;
   }

   .header__container {
      justify-content: space-between;
   }

   .top {
      background-position: bottom right;
   }

   .header__tel {
      display: none;
   }

   .menu__btn,
   .header__logo {
      position: relative;
      z-index: 10;
   }

   .menu__list {
      padding-left: 20px;
      font-size: 20px;
   }

   .menu__list {
      position: absolute;
      background-color: #fff;
      flex-direction: column;
      padding-top: 100px;
      gap: 35px;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      align-items: start;
      transform: translateY(-100%);
      transition: transform 0.3s linear;
   }

   .menu__link {
      display: inline-block;
      font-size: 16px;
      white-space: nowrap;
      margin-top: 30px;
   }

   .menu__list.menu__list--active {
      transform: translateY(0%);
   }

   .order-1 {
      order: 1;
      flex: 0 1 50%;
   }

   .order-2 {
      flex: 0 1 50%;
      order: 2;
      justify-content: flex-end;
   }

   .order-3 {
      order: 3;
      flex: 0 1 50%;
   }

   .order-4 {
      order: 4;
   }

   .order-5 {
      order: 5;
      padding-top: 20px;
   }

   .contacts__form-block::before,
   .contacts__form-block::after {
      display: none;
   }

   .footer__inner {
      flex-wrap: wrap;
   }
}

@media (max-width: 900px) {
   .company__info-number--plus {
      right: -9px;
      top: 6px;
   }

   .top__title {
      padding-top: 35%;
   }


}

@media (max-width: 770px) {
   .company__inner {
      justify-content: center;
      flex-direction: column;
   }

   .services__img img {
      height: 474px;
   }

   .map {
      width: 500px;
      height: 500px;
   }

   .company__content {
      flex-basis: auto;
      padding-bottom: 30px;
   }

   .tab-content__text {
      margin-bottom: 21px;
   }

   .tab__content-inner {
      margin-bottom: 30px;
   }

   .contacts__inner {
      flex-direction: column;
   }

}

@media (max-width: 560px) {
   .header__logo {
      width: 112px;
      height: 44px;
   }

   .services__img img {
      height: 253px;
   }

   .map {
      width: 300px;
      height: 300px;
   }

   .material__inner {
      padding-top: 85px;
      font-size: 14px;
   }

   .services {
      padding-top: 100px;
   }

   .tab-content__title {
      font-size: 24px;
      white-space: nowrap;
   }

   .services__text {
      display: none;
   }

   .services__title {
      font-size: 24px;
      white-space: nowrap;
   }

   .advantages__box {
      grid-template-columns: repeat(1, 1fr);
   }

   .materials__body {
      grid-template-columns: repeat(1, 1fr);
   }

   .advantages__box {
      max-width: 335px;
   }

   .material__inner {
      max-width: 340px;
      margin: 0 auto;
   }

   .materials__body-item {
      height: 226px;
   }

   .material__title {
      font-size: 24px;
      line-height: 28px;
   }

   .company__info {
      flex-basis: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .container {
      max-width: 335px;
   }

   .company__info-number {
      font-size: 50px;
      font-weight: 600;
      text-align: center;
   }

   .about {
      padding: 35px 0;
   }

   .company__info {
      padding: 19px 70px 40px 70px;
   }

   .materials__body-item {
      width: 100%;
   }

   .material__title {
      padding: 25px;
      font-size: 24px;
      white-space: nowrap;
   }

   .delivery__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      padding-bottom: 30px;
   }

   .contacts__form-block {
      padding: 25px 0;
   }

   .contacts__form {
      padding: 20px 15px;
      justify-content: center;
   }

   .contacts__text {
      font-size: 16px;
      margin-bottom: 8px;
   }

   .contacts__text-black {
      font-size: 16px;
      margin-bottom: 30px;
   }

   .form__input::placeholder,
   .form__textarea::placeholder {
      font-size: 14px;
      padding: 15px;
   }

   .form__textarea {
      max-height: 128px;
   }

   .delivery__card {
      padding: 21px 0;
   }

   .logo img {
      width: 109px;
      height: 43px;
   }

   .socials {
      gap: 0 15px;
   }

   .delivery__info {
      max-width: 335px;
      margin: 0 auto;
   }

   .container-right {
      padding: 0;
      margin: 0;
   }

   .socials__item img {
      width: 24px;
      height: 24px;
   }

   .policy {
      font-size: 12px;
      white-space: nowrap;
   }

   .footer__tel {
      padding: 12px 14px;
      font-size: 14px;
   }

   .nav__list {
      font-size: 14px;
      gap: 0 25px;
   }

   .top {
      background-position: right center;
   }

   .top__title {
      font-size: 32px;
      line-height: 38px;
      padding-bottom: 15px;
      padding-top: 265px;
   }

   .top__subtitle {
      font-size: 16px;
      padding-bottom: 17px;
   }

   .section__title {
      font-size: 24px;
      line-height: 28px;
   }

   .delivery__inner {
      flex-direction: column;
   }

   .delivery__info {
      flex-basis: auto;
   }
}

.nav__list-item--active {
   color: #27AE60 !important;
}